/*
Theme Name: Banquet Chinese
Theme URI: https://www.klevermedia.co.uk
Author: Klever Media
Author URI: https://www.klevermedia.co.uk
Description: Banquet Chinese custom WordPress theme by Klever Media.
Version: 1.0
Text Domain: banquetchinese
Tags: sticky-post, full-width-template, custom-colors
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i');

/* Body */

::-moz-selection {
    color: #fff;
    background: #00aa80;
}

::selection {
    color: #fff;
    background: #00aa80;
}

*:focus {
    outline: none;
    box-shadow: none;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;

    height: 100%;

    color: #868686;
    background: #f7f7f7;
    text-shadow: 1px 1px 1px rgba(0,0,0,.004);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility !important;
}

a,
a:active {
    cursor: pointer;
    transition: all 300ms ease-in-out;
    text-decoration: none;

    color: #00aa80;
    box-shadow: none;
}

a:focus {
    outline: none;
}

a:hover {
    text-decoration: none;

    color: #00aa80;
}

p {
    margin: 0 0 20px 0;
}

p:last-child {
    margin-bottom: 0;
}

img {
    max-width: 100%;
    height: auto;
}

/* Section */

.section {
    background-repeat: no-repeat;
    background-position: right;
}

.shadow {
    box-shadow: 0 30px 70px 0 rgba(84, 76, 65, .1);
}

.shadow .inner-wrap {
    padding: 30px;
}

.aligncenter {
    text-align: center;
}

/* Nav */

.navbar {
    margin: 0;
    padding: 30px 0;

    border: none;
    background: #fff;
}

.navbar .navbar-header {
    float: none;

    margin: 0 -30px;
}

.navbar .logo-wrap {
    text-align: center;
}

.navbar .right-menu {
    text-align: right;
}

.navbar .navbar-collapse {
    display: inline-block !important;

    -webkit-transform: translateY(45px);
            transform: translateY(45px);
}

.navbar li.active:after {
    display: block;

    width: 25px;
    height: 2px;
    margin: 10px auto 0 auto;

    content: '';

    background: #908370;
}

.navbar li a,
.navbar li.active a:hover {
    font-size: 13px;

    display: block;

    padding: 0 15px;

    letter-spacing: 1px;
    text-transform: uppercase;

    color: #73685a;
}

.navbar li:hover a,
.navbar li a:hover {
    color: #00aa80;
}

.navbar li:after {
    display: block;

    width: 0;
    height: 2px;
    margin: 10px auto 0 auto;

    content: '';
    transition: all 300ms ease-in-out;

    background: #00aa80;
}

.navbar li:hover:after {
    width: 25px;
}

/* Topbar */

.topbar {
    font-size: 12px;

    padding: 10px 0;

    text-transform: uppercase;

    color: #fff;
    background-color: #544c41;
}

.topbar .contact-info {
    text-align: right;
}

.topbar .contact-info span {
    font-weight: 600;
}

.topbar .contact-info a {
    text-transform: none;

    color: #fff;
}

.topbar .contact-info ul {
    display: inline-block;

    margin: 0;
    padding: 0;

    list-style: none;
}

.topbar .contact-info ul:last-of-type {
    margin-left: 35px;
}

/* Scroll navigation */

.admin-bar .navbar.banner--clone {
    top: 30px;
}

.navbar.banner--clone {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;

    width: 100%;
    padding: 20px 0;

    transition: all 300ms ease-in-out;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);

    border-radius: 0;
    background: #fff;
    box-shadow: 0 30px 70px 0 rgba(84, 76, 65, .1);
}

.navbar.banner--clone img {
    max-height: 60px;
}

.navbar.banner--clone .navbar-collapse {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
}



.navbar.banner--stick {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
}

/* Hero */

#hero {
    margin: 0 -15px;
}

#hero .item {
    padding: 150px 0;

    text-align: center;

    background-size: cover !important;
}

#hero .item h1 {
    font-size: 42px;
    font-weight: 600;

    margin-bottom: 30px;

    color: #fff;
}

#hero .item .btn {
    margin: 0 10px;
}

/* Page header */

.page-title {
    position: relative;

    padding: 150px 0;

    text-align: center;

    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-title h1 {
    font-size: 56px;

    text-transform: uppercase;
}

.page-title p {
    font-size: 26px;
    font-weight: 600;
}

.single .page-title:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    content: '';

    background: rgba(0, 0, 0, .5);
}

.single .page-title .cat {
    font-size: 26px;
    font-weight: 600;

    text-transform: uppercase;

    color: #00aa80;
}

/* Menu */

.menu a.image {
    position: relative;

    display: block;
}

.menu a.image:before {
    position: absolute;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    content: '';
    transition: all 200ms ease-in-out;

    background: rgba(0, 170, 128, .7);
}

.menu a.image:hover:before {
    top: 0;
}

.menu a.image:after {
    font-size: 22px;
    font-weight: 600;
    line-height: 100%;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;

    content: 'View menu';
    transition: all 500ms ease-in-out;
    text-transform: uppercase;

    opacity: 0;
    color: #fff;

    align-items: center;
    justify-content: center;
}

.menu a.image:hover:after {
    opacity: 1;
}

.menu a.title {
    display: block;

    margin: 0 15px;
    padding: 20px;

    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    text-align: center;
    text-transform: uppercase;

    background-color: #fff;
    box-shadow: 0 30px 70px 0 rgba(84, 76, 65, .1);
}

.menu a.title h4 {
    font-size: 22px;
    font-weight: 600;

    color: #908370;
}

/* Buttons */

.btn {
    font-size: 13px;
    font-weight: 600;

    padding: 12px 20px;

    letter-spacing: 3px;
    text-transform: uppercase;

    color: #fff;
    border: 2px solid #00aa80;
    border-radius: 0;
    background: #00aa80;
}

.btn:hover {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);

    color: #fff;
    border-color: #908370;
    background: #908370;
    box-shadow: 0 20px 30px 0 rgba(144, 131, 112, .2);
}

.btn.ghost {
    border-color: #fff;
    background: transparent;
}

.btn.ghost:hover {
    color: #00aa80;
    border-color: #00aa80;
    box-shadow: 0 20px 30px 0 rgba(0, 170, 128, .2);
}

/* Content block */

.content-block {
    position: relative;
}

.content-block .image {
    max-width: 600px;
}

.content-block header {
    font-size: 22px;
    font-weight: 500;

    margin-bottom: 25px;

    text-transform: uppercase;

    color: #908370;
}

.content-block header h3 {
    font-size: 36px;

    display: block;

    margin: 0;

    text-transform: uppercase;

    color: #695f4f;
}

.content-block .content {
    position: absolute;
    top: 15%;
    right: 0;

    width: 55%;
    padding: 50px;

    background-color: #fff;
    box-shadow: 0 30px 70px 0 rgba(84, 76, 65, .1);
}

.content-block.right {
    text-align: right;
}

.content-block.right .image {
    display: inline-block;
}

.content-block.right .content {
    right: auto;
    left: 0;

    text-align: left;
}

/* Header */

header.title {
    font-size: 22px;
    font-weight: 600;

    color: #908370;
}

header.title h1,
header.title h2,
header.title h3,
header.title h4,
header.title h5,
header.title h6 {
    font-size: 22px;
    font-weight: 600;

    text-transform: uppercase;

    color: #908370;
}

header.title h1 span,
header.title h2 span,
header.title h3 span,
header.title h4 span,
header.title h5 span,
header.title h6 span {
    font-size: 36px;
    font-weight: normal;

    display: block;

    margin-top: 5px;

    color: #695f4f;
}

header.center {
    text-align: center;
}

header .icon {
    font-size: 18px;
    line-height: 37px;

    display: inline-block;

    width: 35px;
    height: 35px;
    margin-right: 10px;

    text-align: center;

    color: #fff;
    border-radius: 1px;
    background-color: #00aa80;
}

header .icon + h1,
header .icon + h2,
header .icon + h3,
header .icon + h4,
header .icon + h5,
header .icon + h6 {
    display: inline-block;

    margin: 0;
}

header .icon + h1 span,
header .icon + h2 span,
header .icon + h3 span,
header .icon + h4 span,
header .icon + h5 span,
header .icon + h6 span {
    font-size: 30px;

    -webkit-transform: translateY(4px);
            transform: translateY(4px);
}

/* News landing */

.post-section {
    position: relative;

    margin: 0 -15px;
    padding: 80px 0;
}

.post-section .image {
    max-width: 600px;
}

.post-section .image a {
    display: block;

    width: 600px;
    max-width: 100%;
    padding-top: 90%;

    background-size: cover;
}

.post-section .time {
    font-size: 12px;

    margin: 0 0 5px 0;

    color: #868686;
}

.post-section h2 {
    font-size: 30px;

    display: block;

    margin: 0 0 15px 0;

    text-transform: uppercase;

    color: #695f4f;
}

.post-section .btn {
    margin-top: 25px;
}

.post-section.even {
    text-align: right;
}

.post-section.even .image {
    display: inline-block;
}

.post-section.even .content {
    right: auto;
    left: 0;

    text-align: left;
}

.post-section.even {
    background-image: url(images/pattern.png);
}

.post-section.odd {
    background: #908370;
}

/* News single */

.single-wrap {
    padding-top: 80px;
    padding-bottom: 80px;
}

.latest-post {
    padding: 50px;

    background: #fff;
    box-shadow: 0 30px 70px 0 rgba(84, 76, 65, .1);
}

.latest-post .time {
    margin-bottom: 10px;
}

.latest-post h2 {
    font-size: 36px;

    margin-top: 0;

    text-transform: uppercase;

    color: #695f4f;
}

.latest-post hr {
    margin-bottom: 30px;

    background: #e2e0dd;
}

ul.social-share {
    margin: 0;
    padding: 0;

    list-style: 0;
}

ul.social-share li {
    display: inline-block;

    margin-right: 5px;
}

ul.social-share li a {
    display: flex;

    padding-right: 30px;

    color: #fff;
    background: #00aa80;

    align-items: center;;
}

ul.social-share li a i {
    font-size: 14px;
    line-height: 50px;

    width: 50px;
    height: 50px;
    margin-right: 15px;

    transition: all 300ms ease-in-out;
    text-align: center;

    background: #059c77;
}

ul.social-share li a:hover {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);

    background: #908370;
    box-shadow: 0 20px 30px 0 rgba(144, 131, 112, .2);
}

ul.social-share li a:hover i {
    background: #7b6f5d;
}

span.share {
    font-weight: 600;

    display: block;

    margin-bottom: 20px;
}

/* Sidebar */

#sidebar .widget {
    margin-top: 60px;
}

#sidebar h4 {
    font-size: 20px;
    font-weight: bold;

    margin-bottom: 20px;

    text-transform: uppercase;

    color: #908370;
}

#sidebar ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

#sidebar ul li a {
    display: block;

    padding: 5px 0;

    color: #908370;
}

#sidebar ul li:first-of-type a {
    padding-top: 0;
}

#sidebar ul li:last-of-type a {
    padding-bottom: 0;
}

#sidebar ul li a:hover {
    color: #00aa80;
}

#sidebar #sb_instagram #sbi_load {
    text-align: left;
}

#sidebar #sb_instagram #sbi_load .sbi_follow_btn {
    margin: 0;
}

/* Pagination */

.horz-menu {
    padding: 30px;

    text-align: center;
}

.horz-menu .current,
.horz-menu a {
    font-size: 18px;
    font-weight: 600;
    line-height: 46px;

    display: inline-block;

    width: 50px;
    height: 50px;
    margin: 0 1px;

    text-align: center;

    color: #908370;
    border: solid 2px #908370;
}

.horz-menu .current {
    color: #00aa80;
    border-color: #00aa80;
}

.horz-menu a:hover {
    color: #fff;
    border-color: #00aa80;
    background: #00aa80;
}

/* Icon row */

.page-title .icon-row .icon i {
    border-color: rgba(255, 255, 255, .4);
    background: transparent;
}

.icon-group {
    overflow: hidden;

    margin: 50px 0 0 0;
    padding: 0;

    list-style: none;
}

.icon-group li {
    float: left;

    width: 33.33%;

    text-align: left;
}

.icon-group li p {
    font-size: 14px;
}

.icon-row {
    overflow: hidden;
}

.icon-row .icon {
    float: left;

    width: 65px;
}

.icon-row .icon i {
    font-size: 24px;
    line-height: 46px;

    width: 50px;
    height: 50px;

    text-align: center;

    color: #00aa80;
    border: solid 1px rgba(134, 134, 134, .1);
    border-radius: 50%;
    background-color: #fff;
}

.icon-row .content {
    font-size: 14px;

    float: left;

    -webkit-transform: translateY(5px);
            transform: translateY(5px);
}

/* Social feeds */

#sb_instagram {
    margin: 0;
}

#sb_instagram #sbi_images {
    padding-left: 0 !important;
}

/* Gallery */

.gallery-filter {
    margin-bottom: 40px;

    text-align: center;
}

.gallery-filter a,
.gallery-filter a.active:hover {
    font-size: 18px;
    font-weight: 600;

    display: inline-block;

    padding: 0 20px;

    text-transform: uppercase;

    color: #908370;
}

.gallery-filter a:hover {
    color: #00aa80;
}

.gallery-filter a:after,
.gallery-filter a.active:hover:after {
    display: block;

    width: 0;
    height: 2px;
    margin: 10px auto 0 auto;

    content: '';
    transition: all 300ms ease-in-out;

    background: #908370;
}

.gallery-filter a.active:after,
.gallery-filter a.active:hover:after {
    width: 25px;
}

.gallery-filter a:hover:after {
    width: 25px;

    background: #00aa80;
}

.gallery {
    margin-bottom: 30px;
}

.figlio {
    box-shadow: none;
}

/* Latest news */

.slick-slide {
    margin: 0 15px;
}

.slick-list {
    margin: 0 -15px;
}

.latest-news .article-content {
    position: relative;
    z-index: 1;

    margin: -75px 15px 15px 15px;
    padding: 30px;

    background: #fff;
    box-shadow: 0 20px 70px 0 rgba(84, 76, 65, .1);
}

.latest-news .time {
    font-size: 12px;

    margin: 0 0 5px 0;

    color: #868686;
}

.latest-news h4 {
    font-size: 20px;
    font-weight: 400;

    text-transform: uppercase;

    color: #908370;
}

/* Edit button */

.edit-link {
    position: fixed;
    z-index: 99;
    bottom: 20px;
    left: 20px;
}

.edit-link a {
    font-size: 13px;
    font-weight: 600;

    display: block;

    padding: 12px 20px;

    letter-spacing: 3px;
    text-transform: uppercase;

    color: #fff;
    background: #00aa80;
}

.edit-link a:hover {
    color: #fff;
    background: #908370;
}

/* Back to top */

#back-to-top {
    font-size: 12px;
    line-height: 45px;

    position: fixed;
    z-index: 999;
    right: 20px;
    bottom: 20px;

    width: 45px;
    height: 45px;

    cursor: pointer;
    transition: opacity 1s ease-out;
    transition: all 300ms ease-in-out;
    text-align: center;

    opacity: 0;
    color: #fff;
    border: 0;
    background: #00aa80;
}

#back-to-top:hover {
    color: #fff;
    background: #908370;
}

#back-to-top.show {
    opacity: 1;
}

/* Tab buttons */

.tab-btns {
    margin: 0;
    padding: 0;

    list-style: none;

    border-bottom: 1px solid #e2e0dd;
}

.tab-btns:after {
    display: table;
    clear: both;

    content: '';
}

.tab-btns li {
    float: left;

    width: 50%;

    transition: all 300ms ease-in-out;
    -webkit-transform: translateY(1px);
            transform: translateY(1px);

    border-bottom: 1px solid transparent;
}

.tab-btns li:hover {
    border-color: #00aa80;
}

.tab-btns li:hover a {
    color: #00aa80;
}

.tab-btns li a {
    font-size: 16px;
    font-weight: bold;

    display: block;

    padding: 10px 20px 20px 20px;

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #868686;
}

/* Forms */

.fw-flash-messages ul {
    margin: 0;
    padding: 10px;

    list-style: none;

    text-align: center;

    color: #fff;
    background: #00aa80;
}

.fw-flash-messages ul.fw-flash-type-error {
    background: #c0463f;
}

input[type='submit'] {
    font-size: 13px;
    font-weight: 600;

    padding: 12px 20px;

    transition: all 300ms ease-in-out;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #fff;
    border: 2px solid #00aa80;
    border-radius: 0;
    background: #00aa80;
}

input[type='submit']:hover {
    color: #fff;
    border-color: #908370;
    background: #908370;
}

.wpcf7 input,
.wpcf7 select,
.wpcf7 textarea {
    margin-bottom: 20px;
}

.wpcf7 .the-date input {
    width: 70%;
    padding-top: 11px;
    padding-bottom: 11px;
}

.wpcf7 .the-time input {
    width: 25%;
    margin-left: 5%;
}

.wpcf7 span.wpcf7-list-item {
    margin: 0;
}

input,
select,
textarea,
.wrap-forms input,
.wrap-forms select,
.wrap-forms textarea {
    font-style: italic;

    width: 100%;
    height: auto;
    padding: 12px 17px;

    color: #908370;
    border: solid 1px #e2e0dd;
    background-color: #fff;
}

input[type="checkbox"]{
    display: inline-block;
    width: auto;
    margin-right: 5px;
}

.wpcf7-submit {
    width: auto;
    font-style: normal;
}

div.wpcf7 .wpcf7-submit:disabled,
div.wpcf7 .wpcf7-submit:hover:disabled {
    background: #aaa;
    border-color: #aaa;
}

textarea,
.wrap-forms textarea {
    min-height: 170px;
}

select {
    border-radius: 0;

    -webkit-appearance: none;
}

.select-wrapper {
    position: relative;
}

.select-wrapper:before {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;

    position: absolute;
    top: 17px;
    right: 20px;

    display: inline-block;

    content: '\f0d7';

    color: #695f4f;

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

label {
    font-weight: bold;

    margin: 5px 0 15px 0;

    color: #695f4f;
}

/* Footer CTA buttons */

.cta-btns .btn-1 a,
.cta-btns .btn-2 a,
.cta-btns .btn-3 a {
    font-size: 24px;
    font-weight: 500;

    display: block;

    padding: 20px 30px;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
}

.cta-btns .btn-1:hover,
.cta-btns .btn-2:hover,
.cta-btns .btn-3:hover {
    background: #908370;
}

.cta-btns .btn-1 {
    transition: all 300ms ease-in-out;

    background: #00aa80;
}

.cta-btns .btn-2 {
    transition: all 300ms ease-in-out;

    background: #0db38a;
}

.cta-btns .btn-3 {
    transition: all 300ms ease-in-out;

    background: #31bd9a;
}

/* Footer */

footer {
    padding: 65px 0;

    color: #fff;
    background: #544c41 url(images/footer.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

footer a {
    color: #fff;
}

footer .middle {
    text-align: center;
}

footer .right {
    text-align: right;
}

footer ul {
    margin: 30px 0 0 0;
    padding: 0;

    list-style: none;
}

footer ul li a {
    font-size: 14px;
    font-weight: 600;

    letter-spacing: 1px;
    text-transform: uppercase;

    color: #fff;
}

footer ul.social {
    width: 100%;

    text-align: center;
}

footer ul.social li {
    display: inline-block;
}

footer ul.social li a {
    line-height: 36px;

    display: block;

    width: 40px;
    height: 40px;

    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 50%;
}

footer ul.social li a:hover {
    border: 2px solid rgba(255, 255, 255, .2);
}

footer .copyright {
    font-size: 14px;

    margin-top: 20px;

    text-align: center;

    opacity: .7;
}

footer .copyright a {
    color: #fff;
}

@media (max-width: 1199px){

    .navbar li a, .navbar li.active a:hover {
        font-size: 12px;
        padding: 0 10px;
    }

    .page-title h1 {
        font-size: 46px;
        margin-bottom: 25px;
    }

    .page-title p {
        font-size: 22px;
    }

    .latest-post h2 {
        font-size: 32px;
    }

    ul.social-share li a i {
        line-height: 40px;
        width: 40px;
        height: 40px;
    }

}